.link-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  padding-left: 1rem;

  &:hover {
    @apply bg-gray-200;
  }
}

.link-label {
  user-select: none;
  @apply text-gray-700;
}

.link-icon {
  @apply fill-gray-700;
}
