.button {
  position: relative;
  isolation: isolate;
  overflow: hidden;
  @apply rounded-lg bg-blue-600 p-4 text-white;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    top: var(--y);
    left: var(--x);
    z-index: -1;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.5;
    transition: transform 500ms;
    @apply aspect-square rounded-full bg-white;
  }
}

.pulse::before {
  animation: pulse 500ms;
}

.disabled {
  cursor: not-allowed;
  @apply bg-blue-500;
}

@keyframes pulse {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 0.5;
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
}
