.divider {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;

  &::before,
  &::after {
    content: '';
    flex-grow: 1;
    @apply border-t border-gray-400;
  }

  & .label {
    flex-shrink: 1;
    @apply mx-4 text-gray-700;
  }
}
