.wrapper {
  max-height: 65px;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @apply border-gray-300;
}

.logo-wrapper {
  @apply hidden lg:block;
}

.logo {
  pointer-events: none;
  user-select: none;
}
