.button {
  width: 50px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  display: grid;
  place-content: center;

  @apply bg-blue-500;

  &:hover .icon {
    transform: scale(1.5);
  }
}

.icon {
  transition: transform 200ms;
  @apply fill-white;
}
