.wrapper {
  height: 100%;
  display: grid;
  place-content: center;
  @apply p-16;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @apply container mx-auto my-8 px-5;
}

.content {
  text-align: center;
  @apply max-w-md;
}

.error-code {
  height: fit-content;
  font-size: 10rem !important;
  color: #2b8eff;

  @apply mb-8 text-9xl font-extrabold;
}
