.loader {
  display: inline-block;
  position: relative;
}
.loader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  border: 10px solid;
  border-radius: 50%;
  animation: ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;

  @apply border-blue-500 border-t-blue-500 border-l-transparent border-b-transparent border-r-transparent;

  &:nth-child(1) {
    animation-delay: -0.45s;
  }

  &:nth-child(2) {
    animation-delay: -0.3s;
  }

  &:nth-child(3) {
    animation-delay: -0.15s;
  }
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
