.wrapper {
  min-height: 50px;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #00000016;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 1.6rem !important;
  line-height: 3rem !important;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @apply font-pacifico bg-gradient-to-r from-blue-600 to-cyan-600;
}
