$search-icon-width: 1.5rem;
$search-items-margin: 0.7rem;

.wrapper {
  min-width: 27rem;
  height: 2.5rem;
  border: 2px solid;
  align-items: center;
  flex-direction: row-reverse;
  padding-left: $search-items-margin;
  border-radius: 50vw;
  transition: border-color 200ms;
  @apply hidden border-gray-300 md:flex;

  & > * {
    margin-right: $search-items-margin;
  }

  &:focus-within {
    @apply border-gray-400/80;
  }
}

.search-icon {
  width: $search-icon-width;
  transition: fill 200ms;
  @apply fill-slate-400;

  &:hover {
    @apply fill-slate-600;
  }
}

.search-input {
  width: calc(100% - #{$search-icon-width});
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  @apply text-gray-600;
}

.clear-btn {
  cursor: pointer;
  @apply fill-gray-400;

  &:hover {
    @apply fill-gray-500;
  }
}
